[user]
	name = Jason Scott
	email = jason@thescottclan.org
[core]
	editor = vi
	autocrlf = input  # Linux/Mac
	#autocrlf = true  # Windows
	pager = delta
	symlinks = true
[push]
	default = current
[merge]
	defaultToUpstream = True
	conflictstyle = diff3
[interactive]
	diffFilter = delta --color-only
[delta]
	theme = OneHalfDark
	navigate = true  # use n and N to move between diff sections
	light = false  # set to true if you're in a terminal w/ a light background color (e.g., the default macOS terminal)
	line-numbers = true
	side-by-side = true
[diff]
	tool = meld
	colorMoved = default
[difftool]
	prompt = false
[color]
	showBranch = true
	status = true
	branch = true
	diff = true
	ui = true
	default = --all
[status]
	branch = true
	short = true
	relativePaths = true
[color "status"]
	branch = green
	added = cyan
	changed = red
	untracked = magenta
[http "https://github.com"]
	sslVerify = false
[winUpdater]
	recentlySeenVersion = 2.26.2.windows.1
[pull]
	rebase = true
[safe]
	directory = *
[init]
	defaultBranch = main
